# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp

# env
.env

# Pycharm
.idea/

# Django
*.log
*.pot
*.pyc
*.mo
*.db
*.sqlite3
*.py[cod]
*.so
*.egg
*.egg-info
*.eggs
*.coverage
.coverage.*
.cache
*.pyo
*.pyd
*.pyo
